{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" href="../../static/css/login.css">
{% endblock %}

{% block content %}
<div class="max-w-screen container relative w-screen h-screen bg-cover bg-center flex justify-start items-center flex-col overflow-hidden pt-12">
    <img class="logo w-3/4 mb-[10px]" src="../../static/img/Logo.png" alt="">
    <div class="center z-99 text-center" style="z-index: 99;">
        <p class="detail text-xl mb-[10px]">Website for study</p>
        <a id="btn-login" href="{{ url_for('users.auth') }}" class="z-[2] btn  flex justify-center items-center text-center gap-2 no-underline text-3xl text-[#111187] px-12 py-2.5 rounded bg-white transition-all duration-200 ease-in-out hover:scale-105"><i class='bx bxl-google'></i> Login with Google</a>
    </div>
    <div class="dev opacity-1 mt-[10%]">
        <h4 class="text-base font-normal">Create By Jaturatab</h4>
    </div>

    <div class="effect z-[1] flex absolute -bottom-[8%] -left-[3%] translate-y-[200%] transition-all duration-200 ease-in-out">
        <img src="../../static/img/fire.gif" alt="" class="fire-1 w-[200px] inline -mx-[35px] scale-150 -translate-y-[10%]" src="path-to-fire-1.png">
        <img src="../../static/img/fire.gif" alt="" class="fire w-[200px] inline -mx-[35px] translate-y-[1%]" src="path-to-fire.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire w-[200px] inline -mx-[35px] translate-y-[1%]" src="path-to-fire.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire w-[200px] inline -mx-[35px] translate-y-[1%]" src="path-to-fire.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire-2 w-[200px] inline -mx-[40px] -translate-y-[7%]" src="path-to-fire-2.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire w-[200px] inline -mx-[35px] translate-y-[1%]" src="path-to-fire.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire-2 w-[200px] inline -mx-[40px] -translate-y-[7%]" src="path-to-fire-2.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire w-[200px] inline -mx-[35px] translate-y-[1%]" src="path-to-fire.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire-2 w-[200px] inline -mx-[40px] -translate-y-[7%]" src="path-to-fire-2.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire w-[200px] inline -mx-[35px] translate-y-[1%]" src="path-to-fire.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire-2 w-[200px] inline -mx-[40px] -translate-y-[7%]" src="path-to-fire-2.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire w-[200px] inline -mx-[35px] translate-y-[1%]" src="path-to-fire.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire-1 w-[200px] inline -mx-[35px] scale-150 -translate-y-[10%]" src="path-to-fire-1.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire w-[200px] inline -mx-[35px] translate-y-[1%]" src="path-to-fire.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire w-[200px] inline -mx-[35px] translate-y-[1%]" src="path-to-fire.png"">
        <img src="../../static/img/fire.gif" alt="" class="fire-1 w-[200px] inline -mx-[35px] scale-150 -translate-y-[10%]" src="path-to-fire-1.png"">
    </div>
</div>

<script src="../../static/js/login.js"></script>
{% endblock %}