

.container .btn i{
    color: #111187;
}

.container .btn:hover{
    transform: scale(1.05);
}

.effect.active{
    transform: translateY(0);
}

.effect img{
    width: 200px;
    display: inline;
    margin: 0 -35px;
}
.dev.active{
    opacity: 0;
}