@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    font-family: "Permanent Marker", cursive;
}

.modal.close{
    display: none;
}

.container{
    background: url('../img/Sky2.png');
    background-size: cover;
}

.spin-animation {
    animation: spin 3s linear infinite;
}

#player {
    display: none;
}

.modal-setting.active{
    transform: rotate(0) translateY(-70%) translateX(-50%);
    opacity: 1;
}

.bg-level{
    background: url('../img/bg-level.png');
    background-position: center;
}

.avatar.small img{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.avatar.mid img{
    width: 80%;
    margin: 0 auto;
}

.avatar.big{
    width: 45%;
    position: absolute;
    margin: 0 auto;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.avatar.big img{
    width: 100%;
}


.mode.active {
    transform: translatey(15px);
}

.custome-focus{
    animation: blinking .3s infinite;
}


.transitionIn{
    animation: transitionIn .5s linear;
}

.spin-animation-logo {
    animation: transitionUp 1s linear infinite;
}

/* Animation */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes transitionUp {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
    100%{
        transform: translateY(-10%);
    }
}

@keyframes blinking{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-20px);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}