<!-- music_player -->
{% macro music_player_display() %}
    <div class="relative flex justify-center items-center min-w-56 max-w-56">
        <img style="z-index: 2;" class="relative" src="../static/img/music_player.png" alt="">
        <img src="../static/img/music_button_1.png" alt="" class="absolute z-30 w-1/6 left-3 top-6 cursor-pointer hover:scale-110 transition-transform duration-200" id="buttonImage">
        <img onclick="togglePlayPause()" src="../static/img/music_lp.png" alt="" class="absolute z-20 w-7/12 cursor-pointer" id="lpImage">
    </div>
    
    <div id="player"></div>
{% endmacro %}


{% macro music_player_modal() %}
    <div class="modal close fixed inset-0 z-[9999] flex items-center justify-center" id="modal-music">
        <div class="bg fixed inset-0 bg-black/50" onclick="closeModal()"></div>
        <div class="card relative  rounded-lg">
            <i class='bx bx-x text-3xl absolute top-5 right-9 cursor-pointer text-black' onclick="closeModal()"></i>
            <img src="../static/img/songs_link_new.png" class="w-96" alt="">
            <div class="input flex justify-center absolute top-[44%] left-[48%]">
                <input type="text" 
                    name="music" 
                    id="youtubeLink" 
                    class="absolute text-black w-[280px] px-4 outline-none focus:border-blue-400 focus:ring-2 focus:ring-white transition-all duration-200" 
                    placeholder="Enter Link Music...">
            </div>
            <div class="button absolute  bottom-16  left-1/2 -translate-x-1/2">
                <button onclick="loadNewVideo()" 
                    class="absolute left-1/2 -translate-x-1/2 bg-slate-400 p-2 rounded-xl submit-btn hover:scale-110 transition-transform duration-200">
                    Submit
                </button>
            </div>
        </div>
    </div>
{% endmacro %}