<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetSetGoal</title>
    <link rel="shortcut icon" href="../static/img/setting_icon_new.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

    {% block link %}
        
    {% endblock %}
</head>
<body class="w-screen h-screen flex justify-center items-center">
    {% block content %}
        <!-- template for html file -->
    {% endblock %}
</body>
</html>