{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block content %}
    <div class="container night w-screen h-screen relative overflow-hidden">
        <img src="../static/img/grass.png" alt="" class="absolute -bottom-20 left-0">

        <!-- modal for choose avatar -->
        <div class="modal">
            <div class="bg"></div>
            <div class="card">

                
            </div>
        </div>
    </div>
{% endblock %}